<!DOCTYPE html>
<html>
<head>
  <title>Hello</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- menu -->
<%= render :partial => "homes/menu" %>
<!-- logo -->
<%= render :partial => "homes/logo" %>

<div id="page">
	<div id="content">
		<div>
		<%#= CollegesHelper.my_time %>  <%#= CollegesHelper::DOB %>
			<%= yield %>
		</div>
		<div>&nbsp;</div>
		<div class="twocols">
			<div class="col1">
				<h3 class="title">Lorem Ipsum Dolor</h3>
				<p>Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum. Quisque dictum integer nisl risus, sagittis convallis, rutrum id, congue, and nibh.</p>
				<p><a href="#">Read more&hellip;</a></p>
			</div>
			<div class="col2">
				<h3 class="title">Pellentesque Quis</h3>
				<ul class="list">
					<li><a href="#">Ut semper vestibulum est</a></li>
					<li><a href="#">Vestibulum luctus dui</a></li>
					<li><a href="#">Integer rutrum nisl in mi</a></li>
					<li><a href="#">Etiam malesuada rutrum</a></li>
					<li><a href="#">Aenean facilisis ligula</a></li>
					<li><a href="#">Vestibulum luctus dui</a></li>
					<li><a href="#">Ut elit vitae augue</a></li>
					<li><a href="#">Sed sagittis leo vehicula</a></li>
					<li><a href="#">Ut elit vitae augue</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- end content -->
	<div id="sidebar">
		<!-- search -->
		<%= render :partial => "homes/search" %>
		<!-- left-side -->
		<%= render partial: "homes/left" %>
	</div>
	<!-- end sidebar -->
	<div style="clear: both;">&nbsp;</div>
</div>
<!-- end page -->
<!-- footer --><%= render partial: "homes/footer" %>
</body>
</html>
